

body {
	font-family: 'Bitter|Oswald', sans-serif;
	background-color: #0A1729;
	color: #EFEFEF;
	margin: 0;
	padding: 0;
}

#menu {
	width:100%;
	height: 55px;
	margin:0;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(10,23,41,0);
}

#menu a:link,
#menu a:visited {
	text-decoration: none;
	color: #EFEFEF;
}


#menu a:hover,
#menu a:active {
	color:#CCC;
}

#leftnav {
	float: left;
}

#rightnav {
	float: right;
}

#menu ul {
	display: flex;
	list-style-type: none;
	padding: 0;
}

#menu li {
	margin: 0px 10px 0px 10px;
}

.screen {
	padding: 0;
	margin: 0;
	height: 100vh;
	/*border: solid;  /*<<<--- helps debugging */
	clear: both;
}

.valign_dummy{
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -1vh;
}

.content{
	clear: both;
	text-align: center;
}

/* ------------------------------    BEGIN CONTENT    ----------------------------------*/

/* ------------------------------        HERO         ----------------------------------*/

#hero {
	background: url(forest2.jpg) no-repeat;
	background-size: cover;
}

#hero .screen {
	background-color: rgba(10,23,41,0.6);
}

#hero .valign_dummy{
	/* IF YOU NEED TO CHANGE VERTICAL ALIGN, PLAY HERE */
	margin-bottom: -3vh;
}
/* ------------------------------     PLAY YOUR PART      ----------------------------------*/

.play {
	color: #030303;
}

#playyourpart .valign_dummy{
	
	margin-bottom: -38vh;
}
#playyourpart {

	background: -o-linear-gradient(top, rgb(10,23,40) 0%, rgb(179,224,230) 100%);
    background: -moz-linear-gradient(top, rgb(10,23,40) 0%, rgb(179,224,230) 100%);
    background: -webkit-gradient(linear, left top, left top, color-stop(0, rgb(10,23,40)), color-stop(1, rgb(179,224,230)));
    background: -webkit-linear-gradient(top, rgb(10,23,40) 0%, rgb(179,224,230) 100%);
    background: -ms-linear-gradient(top, rgb(10,23,40) 0%, rgb(179,224,230) 100%);
    background: linear-gradient(top, rgb(10,23,40) 0%, rgb(179,224,230) 100%);

}


/* ------------------------------     WHY      ----------------------------------*/
.why {
	float: left;
	width: 27%;
	margin: 2% 3%;
}

#why .valign_dummy{
	
	margin-bottom: -30vh;
}



#why {

	background: -o-linear-gradient(top, rgb(179,224,230) 0%, rgb(254,254,254) 50%);
    background: -moz-linear-gradient(top, rgb(179,224,230) 0%, rgb(254,254,254) 50%);
    background: -webkit-gradient(linear, left top, left top, color-stop(0, rgb(179,224,230)), color-stop(0.5, rgb(254,254,254)));
    background: -webkit-linear-gradient(top, rgb(179,224,230) 0%, rgb(254,254,254) 50%);
    background: -ms-linear-gradient(top, rgb(179,224,230) 0%, rgb(254,254,254) 50%);
    background: linear-gradient(top, rgb(179,224,230) 0%, rgb(254,254,254) 50%);

    color: #030303;

}


/* ------------------------------     HOW IT WORKS      ----------------------------------*/


#howitworks {
	background-color: rgb(254,254,254);
	color: #030303;
}


#howitworks .valign_dummy{
	
	margin-bottom: -40vh;
	
}

#howitworks .content {
	margin: auto;
	max-width: 70%;

}

.how_img_l {
	float: left;
	clear: both;
	
}

.how_img_r {
	float: right;
	clear: both;
	
}

.how_img_l img,
.how_img_l h3 {
	float:left;
}

.how_img_r img,
.how_img_r h3 {
	float:right;
}

#howitworks h3{
	font-size: 1.6em;
	margin: 3em 5%;
}

#how_install {
	width:25%;
}

#how_comment {
	width:25%;
}

#how_click {
	width:25%;
}

#how_why {
	width:20%;
}

#how2, #how3, #how4 {
	margin-top: -4.8em;
}

#how3 {
	margin-left: 1.5em;
}

#how4 {
	margin-right: 18em;
	margin-top: -4em;
}



/* ------------------------------     THEN WHAT      ----------------------------------*/

#thenwhat .screen{
	
	height: 60vh;
	
}

#thenwhat .valign_dummy{
	
	margin-bottom: -18vh;
	
}

.privacy{
	float: left;
	width: 27%;
	margin: 2% 3%;
}

.privacy p {
	text-align: justify;
  text-justify: inter-word;
}

#thenwhat {
	background-color: rgb(254,254,254);
	color: #030303;
}


/* ------------------------------     FOOTER      ----------------------------------*/


#footer .screen {
	height: 100px;
}
